<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="University" connectionString="Data Source=localhost\MSSQLSERVER01;Initial Catalog=University;Integrated Security=True" 
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>